name: Despliegue Final Pages

on:
  workflow_run:
    workflows: ["Generador de Graficos"]
    types:
      - completed

concurrency:
  group: "pages"
  cancel-in-progress: true

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Configurar Pages
        uses: actions/configure-pages@v4

      - name: Limpiar para Despliegue
        run: |
          # Eliminamos carpetas innecesarias para la web para evitar errores de tamaño
          rm -rf .git
          rm -rf .github
          rm -rf monitoreo_satelital/imagenes_satelitales
        
      - name: Subir Artefacto
        uses: actions/upload-pages-artifact@v3
        with:
          path: '.' # Ahora que limpiamos, subir la raíz es seguro y rápido
          
      - name: Desplegar a GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
