name: Generador de Graficos

on:
  workflow_run:
    workflows: ["Monitor Volcanico VRP"]
    types: [completed]
  
  # Mantenemos esto para poder ejecutarlo manualmente desde la pesta침a Actions si es necesario
  workflow_dispatch:

concurrency:
  group: generador-graficos
  cancel-in-progress: true

jobs:
  pintar_y_publicar:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout del repositorio
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instalar dependencias
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Preparar entorno
        run: |
          # Creamos y limpiamos ambas carpetas de gr치ficos
          mkdir -p monitoreo_satelital/v_html/
          mkdir -p monitoreo_satelital/v_html_log/
          rm -rf monitoreo_satelital/v_html/*
          rm -rf monitoreo_satelital/v_html_log/*

      - name: Ejecutar el Visualizador
        run: python visualizador.py

      - name: Guardar en GitHub
        run: |
          git config --global user.name "VolcanoVisualizer"
          git config --global user.email "viz@volcano.com"
          
          # A침adimos ambas carpetas y el estado
          git add monitoreo_satelital/v_html/*.html
          git add monitoreo_satelital/v_html_log/*.html
          git add monitoreo_satelital/estado_sistema.json
          
          if ! git diff --quiet --staged; then
            git commit -m "游늵 Generaci칩n autom치tica de gr치ficos"
            git pull origin main --rebase -X ours
            git push origin main
          else
            echo "No hay cambios nuevos para subir."
          fi
