name: Generador de Graficos

on:
  workflow_run:
    workflows: ["Monitor Volcanico VRP"] # Coincide con el nombre de tu main.yml
    types:
      - completed

jobs:
  pintar_y_publicar:
    # Solo se ejecuta si el scraper termin칩 con 칠xito
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    
    permissions:
      contents: write

    steps:
      - name: Checkout del repositorio
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instalar librer칤as de visualizaci칩n
        run: |
          python -m pip install --upgrade pip
          # A침adimos pandas y matplotlib para los nuevos gr치ficos con iconos
          pip install pandas matplotlib pytz

      - name: Ejecutar el Visualizador y Auditoria
        run: python visualizador.py

      - name: Guardar Gr치ficos y Estado en GitHub
        run: |
          git config --global user.name "VolcanoVisualizer"
          git config --global user.email "viz@volcano.com"
          
          # Agregamos los gr치ficos nuevos y el archivo de estado para el sem치foro
          git add monitoreo_satelital/graficos_tendencia/
          git add monitoreo_satelital/estado_sistema.json
          
          # Commit y push solo si hay cambios reales
          git diff --quiet && git diff --staged --quiet || (git commit -m "游늵 Auto: Actualizaci칩n de gr치ficos de tendencia" && git push origin main)
