name: Mirova Monitor Horario

on:
  schedule:
    - cron: '*/10 * * * *'  # Esto se ejecuta cada 10 minutos
  workflow_dispatch:        # Permite ejecución manual

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout código
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instalar librerías
        run: |
          python -m pip install --upgrade pip
          pip install requests beautifulsoup4 pandas lxml

      - name: Ejecutar Scraper
        run: python scraper.py

      - name: Guardar cambios en el repositorio
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add .
          git commit -m "Auto-update: Monitoreo multivolcán" || exit 0
          git push
